<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom style -->
    <link rel="stylesheet" href="app.css">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <link rel="manifest" href="./favicons/site.webmanifest">
    <script data-main="js/main" src="js/lib/requirejs.js"></script>

</head>
<body>
    <main>
        <section class="image-section">
            <img src="" id="image" />
            <div class="image-prediction" id="prediction"></div>
        </section>

        <section class="file-section">
            <div class="file-group">
                <label for="file-input" accept="image/x-png,image/gif,image/jpeg">Upload a picture</label>
                <input type="file" id="file-input" />
                <div class="error" id="input-error">An error occured. Is your file really an image ?</div>
            </div>
        </section>
    </main>

    
</body>
</html>